/* CSS Abbreviations */
body {
  color: #000;
  color: #fff;
  color: #f4f4f4;
  color: #123456;
}

/* padding & margin */
div {
  padding: 10px;
  padding: 10%;
  padding: 10%;
  padding: 10em;
  padding: 10rem;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  /* same with margin */
}

body {
  top: 10px;
  bottom: 10px;
  display: block;
  display: grid;
  display: inline;
  display: inline-block;
  display: none;
  display: flex;
  width: 300px;
  text-align: justify;
  font-family: serif;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-weight: 700;
  font-style: italic;
  font-size: 2em;
}

p {
  padding-right: 15px;
  margin-left: 10px;
}
